schemas/DKA.DR.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.danskkulturarv.dk/DKA.DR.xsd" xmlns:dr="http://www.danskkulturarv.dk/DKA.DR.xsd">
    <xs:element name="DR">
        <xs:complexType>
    		<xs:sequence>
    			<xs:element name="ProductionID" type="xs:string"></xs:element>
    			<xs:element name="StreamDuration" type="xs:string"></xs:element>
    		</xs:sequence>
    	</xs:complexType>
    </xs:element>
</xs:schema>